<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../static/base.css">
	<link rel="stylesheet" href="../../static/logo.css">
	<title>Mindful | Mindfulness</title>
</head>
<body>
	<main id="grid-container">
		<a class="back-arrow" href="../../../hw_session/home"></a>
		<div id="header-container">
			<div id="title">
				<h1 id = "center-title">Mindful-ness</h1>
				<div class="logo-container">
					<div class="circle c1"></div>
					<div class="circle c2"></div>
					<div class="circle c3"></div>
					<div class="circle c4"></div>
					<div class="circle c5"></div>
					<div class="circle c6"></div>
					<div class="circle c7"></div>
					<div class="circle c8"></div>
				</div>
			</div>
			<div id="daily-wisdom">
				<h3>"Our life is shaped by our mind, for we become what we think."<span>- Buddha</span></h3>
			</div>
		</div>
		<div id="definition">
			<h3>What Even is This?</h3>
			<p>
				<span>mind·ful·ness:</span>
				<span>/ˈmīn(d)f(ə)lnəs/</span>
				A mental state achieved by focusing one's awareness on the present moment.</p>
		</div>
		<div id="break-time">
			<h3>Make it or **break** it?</h3>
			<div id="study-relaxation">
				<div id="study-tips">
					<h5>Study Tips</h5>
						<ul>
							<a target="_blank" href="https://www.sciencenewsforstudents.org/article/top-10-tips-study-smarter-not-longer-study-skills"><li>Study Smarter not Longer</li></a>
							<a target="_blank" href="https://www.mydegreeguide.com/how-to-study-tips/"><li>25 'Scientifically Proven' Tips</li></a>
							<a target="_blank" href="https://www.topuniversities.com/blog/how-have-productive-study-break"><li>Productive Study Breaks</li></a>
							<a target="_blank" href="https://www.topuniversities.com/blog/how-have-productive-study-break"><li>Study Break Ideas</li></a>
						</ul>
				</div>
				<div id="relaxation">
					<h5>Relaxation</h5>
						<ul>
							<a target="_blank" href="https://www.healthline.com/health/breathing-exercise"><li>Breathing Exercises</li></a>
							<a target="_blank" href="https://www.self.com/gallery/essential-stretches-slideshow"><li>Stretches</li></a>
							<a target="_blank" href="https://kraffeye.com/blog/8-easy-eye-exercises-to-improve-vision-techniques-and-tips"><li>Eye Exercises</li></a>
						</ul>
				</div>
			</div>
		</div>
		<div id="media">
			<div id="music">
				<h4>Music</h4>
				<!-- <iframe 
					id="spotify-widget"
					src="https://open.spotify.com/embed/playlist/37i9dQZF1DWWQRwui0ExPn" 
					width="300" 
					height="160" 
					frameborder="0" 
					allowtransparency="true" 
					allow="encrypted-media">
				</iframe> -->
			</div>
			<div id="videos">
			<!--youtube player integration link
				put these in place of the <li>Videos</li> tag in relaxation
			https://developers.google.com/youtube/player_parameters
			-->
			</div>
		</div>
	</main>
</body>
</html>



