<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../static/base.css">
	<link rel="stylesheet" href="../../static/logo.css">
	<title>Mindful | Mindfulness</title>
</head>
<body>
	<main id="grid-container">
		<a class="back-arrow" href="../../../hw_session/home"></a>
		<div id="header-container">
			<div id="title">
				<h1 id = "center-title">Mindfulness</h1>
				<div class="logo-container">
					<div class="circle c1"></div>
					<div class="circle c2"></div>
					<div class="circle c3"></div>
					<div class="circle c4"></div>
					<div class="circle c5"></div>
					<div class="circle c6"></div>
					<div class="circle c7"></div>
					<div class="circle c8"></div>
				</div>
			</div>
			<div id="daily-wisdom">
				<h3>An apple a day, keeps the coders away. A Cheeto a day, make you fat.<span>- MLK "The King" Jr.</span></h3>
			</div>
		</div>
		<div id="definition">
			<h3>What Even is This?</h3>
			<p>
				<span>mind·ful·ness:</span>
				<span>/ˈmīn(d)f(ə)lnəs/</span>
				A mental state achieved by focusing one's awareness on the present moment.</p>
		</div>
		<div id="break-time">
			<h3>Make it or **break** it?</h3>
			<div id="study-relaxation">
				<div id="study-tips">
					<h5>Study Tips</h5>
						<ul>
							<li>url</li>
							<li>url</li>
						</ul>
				</div>
				<div id="relaxation">
					<h5>Relaxation</h5>
						<ul>
							<li>Breathing</li>
							<li>Stretches</li>
							<li>Eye Exercises</li>
							<li>Videos</li>
						</ul>
				</div>
			</div>
			<div id="music">
				<h4>Music</h4>
				<!-- <iframe 
					id="spotify-widget"
					src="https://open.spotify.com/embed/playlist/37i9dQZF1DWWQRwui0ExPn" 
					width="300" 
					height="160" 
					frameborder="0" 
					allowtransparency="true" 
					allow="encrypted-media">
				</iframe> -->
			</div>
		</div>
	</main>
</body>
</html>



