<!DOCTYPE HTML>

<html>
<head>
	<link rel="stylesheet" href="../../static/base.css">
	<link rel="stylesheet" href="../../static/logo.css">
	<Title> Mindfulness</Title>
</head>
<body>
	<main id="grid-container">
		<div id="header-container">
			<div id="title">
				<h1 id = "center-title">Mindfulness</h1>
				<div class="logo-container">
					<div class="circle c1"></div>
					<div class="circle c2"></div>
					<div class="circle c3"></div>
					<div class="circle c4"></div>
					<div class="circle c5"></div>
					<div class="circle c6"></div>
					<div class="circle c7"></div>
					<div class="circle c8"></div>
				</div>
			</div>
			<div id="daily-wisdom">
				<h4>An apple a day, keeps the coders away. A Cheeto a day, make you fat. -MLK Jr.</h4>
			</div>
		</div>
		<div id="definition">
			<h4>What even is this?</h4>
			<p>mind·ful·ness: /ˈmīn(d)f(ə)lnəs/ A mental state achieved by focusing one's awareness on the present moment.</p>
		</div>
		<div id="break-time">
			<h4>Make it or **break** it?</h4> <!--Add underline to break-->
			<div id="study-relaxation">
				<div id="study-tips">
					<h5>Study Tips</h5>
						<ul>
							<li>url</li>
							<li>url</li>
						</ul>
				</div>
				<div id="relaxation">
					<h5>Relaxation</h5>
						<ul>
							<li>Breathing</li>
							<li>Stretches</li>
							<li>Eye Exercises</li>
							<li>Videos</li>
						</ul>
				</div>
					<div id="music">
						<h4>Music</h4>
					</div>
			</div>
		</div>
	</main>
</body>
<!-- <div id="footer">
    <div class="container">
        <div class="row">
            <h3 class="footertext">About Us:</h3>
            <br>
              <div class="col-md-4">
                
                  <img src="" class="img-circle" alt="...">
                  <br>
                  <h4 class="footertext">Josh</h4>
                  <p class="footertext">Has a cool laptop<br>
                
              </div>
              <div class="col-md-4">
                
                  <img src="" class="img-circle" alt="...">
                  <br>
                  <h4 class="footertext">Reece</h4>
                  <p class="footertext">Basically in charge<br>
                
              </div>
              <div class="col-md-4">
                
                  <img src="" class="img-circle" alt="...">
                  <br>
                  <h4 class="footertext">Christian</h4>
                  <p class="footertext">Has a baby<br>
    
              </div>
			  <div class="col-md-4">
                
				<img src="" class="img-circle" alt="...">
				<br>
				<h4 class="footertext">Bryton</h4>
				<p class="footertext">5'6"<br>
  
			</div>
			<div class="col-md-4">
                
				<img src="" class="img-circle" alt="...">
				<br>
				<h4 class="footertext">Chuqi</h4>
				<p class="footertext">Speaks a cool language<br>
  
			</div>
            </div>
            <div class="row">
            <p><a href="#">Contact Stuff Here</a> <p class="footertext">Copyright 2014</p></p>
        </div>
    </div>
</div> -->