@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
#center-title{
    font-family: 'Roboto', sans-serif;
}
#grid-container{
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-items: center;
    align-items: center;
}
body{
    text-align: center;
    background-image: url("images/chris-nguyen-lbmrrNgq2lo-unsplash.jpg");
    background-size: cover;
    background-position: center;
}
#core-function p{
    margin: 0 auto;
    text-align: left;
    width: 50%;
}
li{
    text-align: left;
}
/* #footer {
    font-size: smaller;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: 
      linear-gradient(
        rgba(143, 143, 143, 0.45), 
        rgba(117, 153, 219, 0.623)
      ),
      url();
    } */
