.logo-container {
  width: 70.5px;
  height: 70.5px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-animation: spin 7s infinite;
          animation: spin 7s infinite;
}

.circle {
  height: 25px;
  width: 25px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.c1 {
  -webkit-animation: move1 7s infinite;
          animation: move1 7s infinite;
}

.c2 {
  -webkit-animation: move2 7s infinite;
          animation: move2 7s infinite;
}

.c3 {
  -webkit-animation: move3 7s infinite;
          animation: move3 7s infinite;
}

.c4 {
  -webkit-animation: move4 7s infinite;
          animation: move4 7s infinite;
}

.c5 {
  -webkit-animation: move5 7s infinite;
          animation: move5 7s infinite;
}

.c6 {
  -webkit-animation: move6 7s infinite;
          animation: move6 7s infinite;
}

.c7 {
  -webkit-animation: move7 7s infinite;
          animation: move7 7s infinite;
}

.c8 {
  -webkit-animation: move8 7s infinite;
          animation: move8 7s infinite;
}

@-webkit-keyframes move1 {
  50% {
    -webkit-transform: translateX(90%);
            transform: translateX(90%);
  }
}

@keyframes move1 {
  50% {
    -webkit-transform: translateX(90%);
            transform: translateX(90%);
  }
}

@-webkit-keyframes move2 {
  50% {
    -webkit-transform: translate(65%, -65%);
            transform: translate(65%, -65%);
  }
}

@keyframes move2 {
  50% {
    -webkit-transform: translate(65%, -65%);
            transform: translate(65%, -65%);
  }
}

@-webkit-keyframes move3 {
  50% {
    -webkit-transform: translateY(-90%);
            transform: translateY(-90%);
  }
}

@keyframes move3 {
  50% {
    -webkit-transform: translateY(-90%);
            transform: translateY(-90%);
  }
}

@-webkit-keyframes move4 {
  50% {
    -webkit-transform: translate(-65%, -65%);
            transform: translate(-65%, -65%);
  }
}

@keyframes move4 {
  50% {
    -webkit-transform: translate(-65%, -65%);
            transform: translate(-65%, -65%);
  }
}

@-webkit-keyframes move5 {
  50% {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
  }
}

@keyframes move5 {
  50% {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
  }
}

@-webkit-keyframes move6 {
  50% {
    -webkit-transform: translate(-65%, 65%);
            transform: translate(-65%, 65%);
  }
}

@keyframes move6 {
  50% {
    -webkit-transform: translate(-65%, 65%);
            transform: translate(-65%, 65%);
  }
}

@-webkit-keyframes move7 {
  50% {
    -webkit-transform: translateY(90%);
            transform: translateY(90%);
  }
}

@keyframes move7 {
  50% {
    -webkit-transform: translateY(90%);
            transform: translateY(90%);
  }
}

@-webkit-keyframes move8 {
  50% {
    -webkit-transform: translate(65%, 65%);
            transform: translate(65%, 65%);
  }
}

@keyframes move8 {
  50% {
    -webkit-transform: translate(65%, 65%);
            transform: translate(65%, 65%);
  }
}

@-webkit-keyframes spin {
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=logo.css.map */